* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.examination-wrapper {
  display: flex;
  flex-direction: column;
}

.examination-hero {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.examination-hero-intro-details-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}
.examination-abbrevation {
  place-items: center;
  font-weight: 700;
  font-size: 50rem;
  letter-spacing: 20px;
  color: rgba(0, 0, 0.1, 0.32);
}
.examination-header-font-arrow {
  position: absolute;
  top: 180px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.examination-name {
  text-align: center;
  top: 90px;
  font-size: 10.5rem;
  font-weight: 600;
}

.about-examination {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 25px 350px 50px 350px;
}
.about-examination > p {
  font-weight: 500;
}
.about-examination > h2 {
  font-weight: 600;
  font-size: 40px;
}

.coordinators-examination {
  margin: 25px 350px 50px 350px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.coordinators-examination > h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

.coordinators-image-examination-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0px auto;
  width: 700px;
}
.examination-image {
  width: 30%;
}
.examination-image > p {
  margin: -3px;
  font-size: 12px;
}

.examination-image > img {
  width: 100%;
  display: block;
  border-radius: 7px;
  background-color: rgba(139, 197, 63, 0.6);
}

.examination-image > h2 {
  font-size: 19px;
  font-weight: 600;
}

.btn-grp-examination {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.btn-design-examination {
  padding: 8px;
  border-radius: 8px;
  place-items: center;
  align-items: center;
  align-content: center;
}

.btn-one :hover {
  color: #0973b9;
  border: 2px #0973b9 solid;
}

.btn-one {
  border: 2px #007fff solid;
  color: #007fff;
}

.btn-two {
  background-color: #007fff;
  color: white;
  border: 2px #007fff solid;
}

.btn-two :hover {
  color: white;
  border: 2px #0973b9 solid;
}

/*contact us*/
#contact-us {
  background: #f9f9f9;
  padding: 60px 100px;
}
#contact-us .wrapper {
}
#contact-us h2 {
  color: #000000;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 51px;
}
#contact-us .contact-container {
  display: flex;
  gap: 33px;
}
.contact-container .contact p {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #1a1c1e;
  margin-bottom: 53px;
}
.contact-container .contact .name {
  font-weight: 700;
  font-size: 23px;
  color: #1a1c1e;
  margin-bottom: 10px;
}
.contact-container .contact a {
  font-weight: 500;
  font-size: 19px;
  display: flex;
  align-items: center;
  gap: 30px;
  color: #1a1c1e;
  margin-bottom: 10px;
}
.contact-container .contact a:last-child {
  margin-bottom: 0;
}
.contact-container .contact a .icon {
  display: inline-block;
  width: 24px;
}
.contact-container .contact a .icon img {
  display: block;
  width: 100%;
}

.right-box {
  margin-top: 86px;
}
